.top-section {
	display: flex;
	justify-content: space-between;

	&__title {
		font-family: var(--font-family-main);
		font-size: var(--font-size-title);
		font-weight: var(--font-weight-bold);
		margin-bottom: 8px;
	}

	&__subtitle {
		display: flex;
		align-items: center;
		font-family: var(--font-family-main);
		font-size: var(--font-size-subtitle);
		font-weight: var(--font-weight-bold);

		span {
			display: flex;
			align-items: center;
			margin-left: 5px;
			font-size: var(--font-size-main-text);
			font-weight: var(--font-weight-text);
			color: var(--color-icon-green);

			svg {
				margin-right: 5px;
				filter: brightness(0) saturate(100%) invert(77%) sepia(34%)
					saturate(489%) hue-rotate(85deg) brightness(90%) contrast(91%);
			}
		}
	}
}
