.nested_option {
	cursor: pointer;
	font-size: var(--font-size-title-h5);
}

.checkbox_container {
	display: flex;
}

.checkbox__input {
	align-self: center;
	border-radius: 6px;
	height: 24px;
	width: 24px;
}

.checkbox__input:checked {
	background-color: var(--color-blue-icons);
}