.baner_block {
  display: flex;
  gap: 20px;
}

.baner_block_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.header {
  color: var(--color-grey-950);
  font-family: var(--font-family-main);
  font-size: var(--font-size-title-h1);
  font-weight: var(--font-weight-extra-bold);
}

.header_yellow_text {
  color: var(--color-yellow-500);
}

.text {
  font-family: var(--font-family-main);
  font-size: var(--font-size-title-h5);
  line-height: 22.4px;
}

.baner_block_picture_wrapper {
  border: none;
  border-radius: 48px;
  height: 100%;
  width: 50%;
}

.baner_block_picture {
  display: block;
  width: 100%;
}

@media (max-width: 1280px)  {
  .baner_block {
    flex-direction: column;
    gap: 56px;
    padding-top: 64px;
  }

  .baner_block_text {
    height: 100%;
    width: 100%;
  }

  .baner_block_picture_wrapper {
    height: auto;
    max-height: 518px;
    width: 100%;
  }

  .baner_block_picture {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }

  .baner_block_text {
    gap: 32px;
  }
}

@media (max-width: 768px)  {
  .baner_block {
    gap: 32px;
    flex-direction: column;
    padding: 0;
  }

  .baner_block_picture_wrapper {
    max-height: 359px;
    padding: 0;
  }

  .header {
   font-size: var(--font-size-title-mobile-h1)
  }
}
