.delete-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	font-size: var(--font-size-title-h5);

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 29px;
		font-family: var(--font-family-main);
	}

	&__icon {
		border-radius: 100px;
		padding: 8px;
		margin-bottom: 40px;
		width: 96px;
		height: 96px;
		background: rgba(226, 33, 56, 0.1);

		.icon__inner {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100px;
			padding: 20px;
			width: 80px;
			height: 80px;
			background: #f9d3d7;

			svg {
				width: 33px;
				height: 31px;
			}
		}
	}

	&__title {
		font-weight: var(--font-weight-extra-bold);
		font-size: var(--font-size-title);
		color: var(--color-grey-900);
		line-height: 130%;
		margin-bottom: 24px;
	}

	&__text {
		text-align: center;

		p {
			color: var(--color-grey-500);
			line-height: 140%;
		}
	}

	&__bottom {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 40px;
	}

	&__buttons {
		display: flex;
		gap: 24px;

		button {
			width: 143px;
		}
	}

	hr {
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid var(--color-grey-300);
		margin: 0;
		padding: 0;
		width: calc(100% + 80px);
	}
}

@media (max-width: 576px) {
	.delete-modal {
		padding: 0;
		font-size: var(--font-size-main-text);

		&__top {
			padding-bottom: 10px;
		}

		&__icon {
			margin-bottom: 29px;
		}

		&__title {
			font-size: var(--font-size-title-h2);
			margin-bottom: 16px;
		}

		&__bottom {
			margin-top: 14px;
		}

		&__buttons {
			button {
				width: 132px;
			}
		}

		hr {
			width: calc(100% + 40px);
		}
	}
}
