.companies_list__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.spinner {
  height: 250px;
  width: 100%;
}

.error {
  align-items: center;
  color: var(--color-error-red);
  display: flex;
  font-size: var(--font-size-title-large);
  justify-content: center;
  height: 100%;
  width: 100%;
}

.not_found__container {
  margin: 0 auto;
}