.stats-bar {
	color: var(--color-grey-950);
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-main);
	height: 96px;
	justify-content: space-between;
	width: 100%;
	padding-left: 12px;
}

.stats-bar:first-child {
	border-bottom: 1px solid var(--color-grey-200);
}

.stats-bar__title {
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-bold);
	letter-spacing: -0.06em;
	line-height: 150%;
}

.stats-bar__display {
	display: flex;
	align-items: center;
	gap: 11px;
	height: 47px;
	margin-bottom: 16px;
}

.stats-bar__number {
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-extra-bold);
	line-height: 130%;
}
