.review__main {
	color: var(--color-grey-950);
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-text);
	line-height: 140%;
}

.review__text {
	max-height: 180px;
	overflow: hidden;
}