.company_card__container {
  align-items: center;
  background-color: var(--color_white);
  border: 1px solid var(--color-grey-350);
  border-radius: 24px;
  color: var(--color-grey-950);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-main);
  justify-content: space-between;
  gap: 60px;
  padding: 24px;
}

.company_card__container:hover {
  border: 1px solid var(--color-grey-950);
}

.company_card__logo_container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
}

.company_card__rating_container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.company_card__courses_amount {
  color: var(--color-grey-400);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main-text);
  font-weight: var(--font-weight-text);
  line-height: 20px;
}

.company_card__company_logo {
  border: 1px solid var(--color-grey-480);
  border-radius: 8px;
  height: 80px;
  width: 80px;
}

.company_card__name_container {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-items: start;
  gap: 8px;
  width: 100%;
}

.company_card__company_name {
  color: var(--color-grey-950);
  font-size: var(--font-size-title-h4);
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.company_card__reviews_container {
  align-items: center;
  display: flex;
  gap: 8px;
  width: 100%;
}

.company_card__reviews_text {
  color: var(--color-grey-400);
  font-size: var(--font-size-main-text);
}

.company_card__reviews_icon {
  color: var( --color-icon-green) ;
  height: 24px;
  width: 24px;
}

@media (max-width: 1280px) {
  .company_card__container {
    border-radius: 16px;
    gap: 40px;
  }

  .company_card__company_logo {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 768px){
  .company_card__container {
    gap: 24px;
    padding: 16px;
  }
  
  .company_card__reviews_container {
    justify-content: space-between;
  }
}