.review {
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h4);
	font-weight: var(--font-weight-semi-bold);
	padding: 20px 20px 40px;
	border-bottom: 1px solid var(--color-grey-border);
}

.review:last-of-type {
	border: none;
}

@media (max-width: 480px) {
	.review {
		padding: 12px;
	}
}
