.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	width: 100%;
}

.input_wrapper {
	position: relative;
	width: 100%;
}

.input {
	background: var(--color-white);
	border: none;
	color: var(--color-grey-200);
	font-size: var(--font-size-title-h4);
	font-weight: var(--font-weight-text);
	outline: none;
	overflow: hidden;
	padding: 16px;
	width: 100%;
}

.input_with_icon_placeholder {
	padding-left: 56px;
}

.input_filled {
	padding-left: 24px;
	color: var(--color-grey-950);
}

.icon {
	color: var(--color-grey-400);
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-text);
	height: 24px;
	left: 16px;
	position: absolute;
	top: 25%;
	transition: opacity 0.3s ease;
	width: 24px;
}

.icon_hidden {
	display: none;
}

.input::placeholder {
	color: var(--color-grey-500);
}

.input:hover {
	border: none;
	color: var(--color-grey-400);
}

.input:focus {
	border: none;
	box-shadow: none;
	color: var(--color-grey-400);
}

.input:focus::placeholder,
.icon {
	color: var(--color-grey-500);
}

.input:active,
.input:focus {
	border: none;
	color: var(--color-grey-950);
}

.suggestions_list {
	background-color: var(--color-white);
	border: 1px solid var(--color-grey-300);
	border-radius: 16px;
	box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);
	color: var(--color-black);
	left: 0;
	overflow-y: auto;
	position: absolute;
	top: calc(100% + 4px);
	z-index: 10;
	width: 100%;
}

.suggestion_item {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-size: var(--font-size-title-h4);
	line-height: 26px;
	margin: 0;
	padding: 8px 16px;
}

.suggestion_item:hover {
	background-color: var(--color-grey-100);
}

.suggestion_icon {
	color: var(--color-grey-500);
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-text);
	height: 24px;
	margin-right: 8px;
	width: 24px;
}

@media (max-width: 1280px) {
	.suggestions_list {
		top: calc(100% - 1px);
	}
}
