.company-details_container, .company-details_title {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.company_details_spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.company-details_container {
	padding: 0 94px;
}

.company-details {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 100%;
	font-family: var(--font-family-main);
	background-color: var(--color-grey-50);
}

h2 {
	font-size: var(--font-size-title-mobile-h1);
	font-weight: var(--font-weight-bold);
}

h3 {
	font-size: var(--font-size-title-mobile-h2);
	font-weight: var(--font-weight-semi-bold);
	line-height: 1.2;
}

h4 {
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--font-size-title-h4);
}

.body-r {
	font-size: var(--font-size-main-text);
	color: var(--color-grey-400);
}

.p-sb {
	line-height: 1.5;
	max-width: 1000px;
	font-weight: var(--font-weight-semi-bold);
}

.large_sb {
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--font-size-title-large);
	line-height: 1.4;
	color: var(--color-grey-950);
}

.small_r {
	font-size: var(--font-size-main-text);
	color: var(--color-grey-460);
}

.rating {
	display: flex;
	align-items: center;
	gap: 5px;
}

.items-center {
	display: flex;
	align-items: center;
	gap: 5px;
}

._verified {
	display: flex;
	gap: 10px;
	align-items: center;
	color: var(--color-icon-green);
}

._shield {
	width: 24px;
	height: 24px;
	color: var(--color-icon-green);
}

.breadcrumb {
	margin-bottom: 40px;
}

.small-sb {
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--font-size-main-text);
	line-height: 1.4;
	color: var(--color-grey-470);
}

.stats_span {
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-bold);
}

/*-----------------------------*/

@media (max-width: 1280px) {
	.company-details_container {
		padding: 0 48px;
		gap: 24px;
	}

	.company-details_title {
		gap: 12px;
	}

	.company-details {
		gap: 24px;
	}
}

@media (max-width: 768px) {
	.company-details_container {
		padding: 0 20px;
	}

	.company-details_title {
		gap: 16px;
	}
}

@media (max-width: 768px) {

	h2 {
		font-size: var(--font-size-title-h4);
	}

	._verified-span {
		display: none;
	}

	.rating {
		display: none;
	}
}

