.search_dropdown_wrapper {
	border: none;
}

.search_dropdown {
	width: 100%;
}

.modal__clear_button {
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-bold);
	line-height: 24px;
	padding: 12px 24px;
}
