.course-list_page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.course-list__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 5px;
	padding: 40px 86px;
}

@media (max-width: 1280px) {
	.course-list__content {
		padding: 40px 48px;
		gap: 40px;
	}
}

@media (max-width: 768px) {
	.course-list__content {
		padding: 40px 20px;
	}
}
