.main_content {
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h4);
	font-weight: var(--font-weight-semi-bold);
}

.reviews-header {
	color: var(--color-black);
	font-family: var(--font-family-main);
	font-weight: var(--font-weight-extra-bold);
	font-size: var(--font-size-title);
	line-height: 130%;
}
