.reviews-bar {
	display: grid;
	gap: 24px;
	grid-template-areas: "hdr hdr" "srt srt" "rvs sts" "rvs btn";
	grid-template-columns: 1fr auto;
	grid-template-rows: 71px auto 230px 1fr;
	width: 100%;
}

.reviews-bar__header {
	color: var(--color-black);
	font-family: var(--font-family-main);
	font-weight: var(--font-weight-extra-bold);
	font-size: var(--font-size-title);
	grid-area: hdr;
	line-height: 130%;
	scroll-margin: 73px;
}

.reviews-bar__sorting {
	display: flex;
	flex-direction: column;

	grid-area: srt;
	height: 76px;
	justify-content: space-between;
}

.reviews-bar__button {
	grid-area: btn;
	height: 40px;
	width: 536px;
}

.reviews-bar__no-reviews {
	grid-area: rvs;
	height: 294px;
	width: 100%;
}
.reviews-bar__picture {
	display: block;
	margin: 40px auto 32px;
}

.reviews-bar__big-text {
	color: var(--color-grey-reviews-big);
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h4);
	font-weight: var(--font-weight-bold);
	line-height: 130%;
	text-align: center;
}

.reviews-bar__no-reviews {
	color: var(--color-grey-reviews-small);
	font-family: var(--font-family-main);
	font-size: var(--font-size-main-text);
	font-weight: var(--font-weight-text);
	line-height: 140%;
	text-align: center;
}

@media (max-width: 1280px) {
	.reviews-bar__button {
		width: 100%;
	}

	.reviews-bar {
		gap: 16px;
		grid-template-areas: "hdr" "sts" "btn" "srt" "rvs";
		grid-template-rows: auto;
	}

	.reviews-bar__header {
		font-size: var(--font-size-title-h4);
	}
}

@media (max-width: 768px) {
	.reviews-bar__button {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.reviews-bar__header {
		scroll-margin: 54px;
	}
}
