.main_content_wrapper {
  padding: 8px 94px;
}

.main_content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1280px)  {
  .main_content_wrapper {
    padding: 0px 48px;
  }

  .main_content {
    gap: 64px;
  }
}

@media (max-width: 768px)  {
  .main_content_wrapper {
    padding: 0px 20px;  
  }

  .main_content {
    gap: 48px;
  }
}