.footer_content__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer_content__contacts_title {
  color: var(--color-yellow-500);
  font-size: var(--font-size-main-text);
  font-family: var(--font-family-main);
  font-weight: var( --font-weight-text);
}

.footer_content__contacts_data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_content__contacts {
  color: var(--color-grey-50);
  font-size: var(--font-size-title-h4);
  font-weight: var(--font-weight-semi-bold);
  display: flex;
  gap: 8px;
}

.footer_content__contact {
  align-items: center;
  display: flex;
  gap: 8px;
}

.footer_content__contact-icon {
  color: var(--color-white);
  height: 24px;
  width: 24px;
}

.footer_content__contact-link {
  border-bottom: 1px solid transparent;
  text-decoration: none; 
  color: inherit; 
  transition: border-color 0.3s;
  width: max-content;
  
  &:hover {
    border-color: var(--color-grey-50); 
  }
}

@media (max-width: 768px) {

  .footer_content__contacts {
    font-size: var(--font-size-title-large);
    font-weight: var(--font-weight-text);
  }

  .footer_content__contact-icon {
    color: var(--color-white);
    height: 18px;
    width: 18px;
  }
}