.item_card {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 2px 2px 12px 0 rgba(#000000, 0.1);
  color: var(--color-grey-950);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
}

.item_loco_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course_image {
  height: 52px;
  width: 82px;
}

.item_rating_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 8px;
}

.reviews_amount {
  color: var(--color-grey-600);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main-text);
  font-weight: var(--font-weight-text);
}

.item_name {
  align-self: flex-start;
  display: -webkit-box;
  font-family: var(--font-family-main);
  font-size: var(--font-size-title-h4);
  font-weight: var(--font-weight-bold);
  line-clamp: 2;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

@media (max-width: 1280px) {
  .item_card {
    gap: 16px;
    padding: 16px;
  }

  .course_image {
    height: 41px;
    width: 64px;
  }

  .course_image__top_course {
    height: 41px;
    width: 76px;
  }

  .item_rating_container {
    gap: 4px;
  }

  .reviews_amount {
    font-size: var(--font-size-secondary-text);
  }

  .item_name {
    font-size: var(--font-size-text);
  }
}

@media (max-width: 768px){
  .item_card {
    padding: 24px 32px;
  }

  .course_image {
    height: 44px;
    width: 69px;
  }

  .course_image__top_course {
    height: 44px;
    width: 82px;
  }

  .reviews_amount {
    font-size: var(--font-size-main-text);
  }
}