.title_wrapper {
	display: grid;
	grid-template-areas: "logo title" "logo rating";
	gap: 12px 20px;
	margin: 40px 0 32px 0;
	width: fit-content;
}

.title_logo {
	height: 68px;
	width: 138px;
	grid-area: logo;
}

.title_name {
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h2);
	font-weight: var(--font-weight-extra-bold);
	grid-area: title;
}

.title_rating {
	grid-area: rating;
	justify-content: start;
}

@media (max-width: 1280px) {
	.title_wrapper {
		column-gap: 16px;
		margin: 24px 0 12px 0;
	}	
}

@media (max-width: 768px) {
	.title_wrapper {
		grid-template-areas: "logo title" "rating rating";
		gap: 8px 16px;
		margin: 24px 0 16px 0;
	}

	.title_logo {
		height: 52px;
		width: 104px;
	}

	.title_name {
		font-size: var(--font-size-title-h4);
		align-self: center;
	}

	.title_rating {
		justify-content: center;
	}
}
@media (max-width: 480px) {
	.title_name {
		font-size: var(--font-size-title-h4);
		font-weight: var(--font-weight-bold);
	}
}

@media (max-width: 480px) {
	.title_name {
		font-size: var(--font-size-title-h4);
		font-weight: var(--font-weight-bold);
	}

	.title_wrapper {
		grid-template-areas: "logo title" "rating rating";
	}
}
