.header {
	font-family: var(--font-family-main);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-bold);
	scroll-margin: 73px;
}

@media (max-width: 1280px) {
	.main_content {
		font-size: var(--font-size-title-mobile-h2);
	}
}

@media (max-width: 768px) {
	.main_content {
		font-size: var(--font-size-title-h4);
	}
}
@media (max-width: 480px)  {
	.header {
		scroll-margin: 54px;
	}
  }
