.container {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-500);
  border-radius: 40px;
  box-shadow: 2px 2px 12px 0 var(--color-shadow-brown);
  display: flex;
  height: 58px;
  margin: 0 auto;
  width: 100%;
}

.search_form {
  display: flex;
  gap: 12px;
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: 29.1% 20.9% 20.9% 29.1%;
  grid-auto-rows: 58px;
  width: 100%;
}

.form > *:not(:first-child) {
  border-left: 1px solid var(--color-grey-500);
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.search_wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.search__input {
  border-radius: 40px 0 0 40px; 
  height: 100%;
  width: 100%;
}

.search_dropdown_wrapper {
  border: none;
  position: relative;
}

.search_dropdown {
  height: 100%;
  width: 100%;
}

.search_button_wrapper {
  height: 100%;
  padding: 4px;
  width: 196px;
}

.search__button {
 height: 100%;
 width: 100%;
}

@media (min-width: 769px) and (max-width: 1280px) {
  .container {
    height: auto;
    padding: 14px 16px 16px 16px;
    width: 100%;
  }

  .search_form {
    flex-direction: column;
    gap: 24px;
  }

  .form {
    display: grid;    
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
  }

  .form > *:not(:first-child) {
    border-left: none;
  }

  .form > :nth-child(1) {
    grid-column: 1 / 3; 
    grid-row: 1; 
  }
  
  .form > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  
  .form > :nth-child(3) {
    grid-column: 2; 
    grid-row: 2; 
  }
  
  .form > :nth-child(4) {
    grid-column: 1 / 3; 
    grid-row: 3;
    width: 100%;
  }

  .form > * {
    border-bottom: 1px solid var(--color-grey-500);
    width: 100%;
  }

  .form > :nth-child(2),
  .form > :nth-child(3) {
    border-bottom: none; 
  }

  .form > :nth-child(3)::before {
    background-color: var(--color-grey-500);
    bottom: 8px; 
    content: '';
    height: calc(100% - 16px); 
    left: 0;
    position: absolute;
    top: 8px;
    width: 1px;
  }

  .form > :last-child {
    border-top: 1px solid var(--color-grey-500);
  }

  .search__input,
  .search_button_wrapper {
    grid-column: span 2;
    width: 100%;
  }

  .search_button_wrapper {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .container {
    height: auto;
    padding: 14px 16px 16px 16px;
  }

  .search_form {
    flex-direction: column;
    height: auto;
  }

  .form > * {
    border-bottom: 1px solid var(--color-grey-500);
  }

  .form > *:not(:first-child) {
    border-left: none;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .search__input,
  .search_dropdown_wrapper,
  .search_button_wrapper {
    grid-column: span 1;
    width: 100%;
  }
}