.user_menu_wrapper {
  background-color: var(--color-white);
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: absolute; 
  right: 0px;
  top: 100%; 
  z-index: 10;
  width: 100%;
}

.user_menu {
  border-bottom: 1px solid var(--color-grey-300);
  font-size: var(--font-size-title-h4);
  padding: 12px 20px 0 20px;
}

.user_menu__list{
  display: flex;
  flex-direction: column;
}

.user_menu__list_item {
  cursor: pointer;
  padding: 8px 10px;
}

.user_menu__list_item:hover {
  background-color: var(--color-grey-100);
}

.user_menu__button {
  padding: 12px 20px;
}