.categories__header {
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-mobile-h2);
	font-weight: var(--font-weight-bold);
	margin-bottom: 16px;
}

.categories__list {
	column-gap: 100px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
}

@media (max-width: 768px) {
	.categories__header {
		margin-bottom: 12px;
		font-size: var(--font-size-title-h4);
	}
}