.modal {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	z-index: 1000;

	&-content {
		margin: 40px 40px;
		background-color: white;
		padding: 20px;
		border-radius: 20px;
		max-width: 632px;
		width: 100%;
		position: relative;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

		&__icon-close {
			display: none;
			position: absolute;
			top: 7px;
			right: 20px;
			background: none;
			border: none;
			color: var(--color-grey-900);
			font-size: 35px;
			cursor: pointer;

			svg {
				width: 15px;
				height: 15px;
			}

			&--visible {
				display: block;
			}
		}
	}

	&.edit-modal {
		align-items: flex-start;
	}
}

@media (max-width: 1280px) {
	.modal {
		align-items: flex-start;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media (max-width: 576px) {
	.modal {
		align-items: flex-start;
		background-color: rgba(0, 0, 0, 0.5);

		&-content {
			margin: 0px;
			border-radius: unset;
		}
	}

	.modal-content {
		&__icon-close {
			display: block;
		}
	}

	.delete-modal {
		&.modal {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.modal-content {
			margin: 20px;
			border-radius: 20px;
			overflow-x: hidden;

			&__icon-close {
				display: none;
			}
		}
	}

	.actions-modal {
		&.modal {
			align-items: flex-end;

			background-color: rgba(0, 0, 0, 0.5);

			.modal-content {
				margin: 0px;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				height: 50vh;
			}
		}
	}
}
