.new_courses {
  background-color: var(--color-yellow-100);
  border-radius: 16px;
  gap: 40px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.new_courses button {
  background-color: var(--color-yellow-100);
}

.items_section {
  gap: 20px;
}

@media (max-width: 1280px)  {
  .new_courses {
    padding: 24px;
  }

  .items_section {
    gap: 8px;
  }
}

@media (max-width: 768px)  {
  .new_courses {
    gap: 24px;
    padding: 32px 20px;
    width: calc(100% + 40px);
  }
}