.add_company_container {
  align-items: center;
  background-color: var(--color-grey-100);
  border-radius: 40px;
  color: var(--color-grey-950);
  display: flex;
  font-family: var(--font-family-main);
  justify-content: space-between;
  gap: 20px;
  padding: 106px;
  width: 100%;
}

.add_company_text_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}

.text_section_title {
  color: var(--color-grey-950);
  font-family: var(--font-family-main);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  line-height: 40.7px;
  text-align: start;
}

.title_yellow {
  color: var(--color-yellow-500);
}

.text_section_text {
  font-size: var(--font-size-title-h4);
  font-weight: var(--font-weight-bold);
}

.add_company_form_section {
  background-color: var(--color-grey-300);
  border-radius: 40px 8px 40px 8px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 48px;
  width: 511px;
}

.form_section_title {
  font-size: var(--font-size-title-h2);
  font-weight: var(--font-weight-bold);
  align-self: center;
}

.add_company_form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_input {
  height: 54px;
  margin-bottom: 0;
}

.form_button {
  height: 40px;
}

@media (max-width: 1280px) and (min-width: 768px) {
  
}

@media (max-width: 1280px) {
  .add_company_container {
    flex-direction: column;
    gap: 40px;
    padding: 92px 116px;
  }

  .add_company_form_section {
    width: 100%;
  }

  .add_company_text_section {
    justify-content: center;
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }

  .add_company_form_section {
    gap: 24px;
  }

  .form_section_title {
    align-self: center;
    font-size: var(--font-size-title-mobile-h2);
  }

  .text_section_title {
    align-self: center;
    text-align: center;
  }

  .form_inputs {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .add_company_container {
    gap: 32px;
    padding: 48px 20px;
    width: calc(100% + 40px);
  }

  .add_company_form_section {
    gap: 20px;
    padding: 24px 20px;
  }
}