.rating-bar {
	border-left: 1px solid var(--color-grey-200);
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h4);
	font-weight: var(--font-weight-semi-bold);
	gap: 12px;
	padding: 11px 20px;
	min-width: 305px;
}

@media (max-width: 480px) {
	.rating-bar {
		border-left: 0;
		border-top: 1px solid var(--color-grey-200);
		min-width: none;
		padding: 11px 12px;
		width: 100%;
		min-width: 100%;
	}
}
