.courses {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.courses_heading {
	display: flex;
	gap: 8px;
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-bold);
}

.courses_heading__number {
	color: var(--color-grey-500);
}

.courses_cards {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 1036px;
}

@media (max-width: 1280px) {
	.courses {
		gap: 20px;
	}

	.courses_heading {
		font-size: var(--font-size-title-mobile-h2);
	}
}

@media (max-width: 1280px) {
	.courses {
		gap: 12px;
	}
}

@media (max-width: 1280px) {
	.courses {
		gap: 20px;
	}

	.courses_heading {
		font-size: var(--font-size-title-h4);
	}
}