.courses {
	padding-bottom: 40px;
}

.courses_heading {
	margin-bottom: 30px;
}

.courses_cards {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-bottom: 30px;
}

.course_card {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}
