.description {
	margin-top: 20px;
	font-family: var(--font-family-main);

	h3 {
		font-weight: var(--font-weight-extra-bold);
		font-size: var(--font-size-title-large);
		color: var(--color-grey-950);

		b {
			font-weight: var(--font-weight-extra-bold);
		}
	}

	ul,
	ol {
		margin: 12px 0px 12px 25px;
		font-family: var(--font-family-main);
		font-weight: var(--font-weight-semi-bold);
		font-size: var(--font-size-title-h5);
		color: var(--color-grey-900);

		li {
			padding: 6px 0px;
		}
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}
}

@media (max-width: 768px) {
	.description {
		max-width: 100%;
	}
}