.dropdown_container {
	background-color: var(--color-white);
	border-bottom: 1px solid var(--color-grey-300);
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.dropdown_container.open {
	background-color: var(--color-grey-50);
}

.dropdown_trigger {
	align-items: center;
	background: url('~/assets/images/arrow-down.svg') no-repeat right center;
	border-radius: 4px;
	background-size: 24px 24px;
	color: var(--color-grey-950);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h4);
	padding: 24px 48px 24px 24px;
	width: 96%;
}

.dropdown_trigger.open {
	background-image: url('~/assets/images/arrow-up.svg');
}

.dropdown_trigger.disabled {
	color: var(--color-grey-500);
	cursor: not-allowed;
}

.dropdown_trigger_text {
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown_menu {	
	background-color: var(--color-grey-50);
	color: var(--color-black);
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: var(--font-family-main);
	max-width: 100%;
	padding: 0px 48px 24px 24px;
	z-index: 10;
	width: 100%;
}

.dropdown_title {
	cursor: pointer;
	font-family: var(--font-family-main);
	font-size: var( --font-size-title-large);
	font-weight: var(--font-weight-bold);
	padding-top: 6px;
}

.dropdown_item {
	align-items: center;
	color: var(--color-grey-950);
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: var(--font-size-title-h4);
}

.dropdown_item:hover {
	background-color: var(--color-grey-200);
}

.see_more {
	cursor: pointer;
	color: var(--color-blue-icons);
	font-size: var(--font-size-main-text);
}


.checkbox__input {
	align-self: center;
	border-radius: 6px;
	height: 24px;
	width: 24px;
}

.checkbox__input:checked {
	background-color: var(--color-blue-icons);
}