.modal_content {
	padding-bottom: 30px;
}

.modal_rating-block {
	margin-bottom: 20px;
}

.modal_label {
	margin-bottom: 10px;
}

.modal_review-textarea {
	border-radius: 20px;
	color: var(--color-grey-400);
	font-size: var(--font-size-main-text);
	height: 200px;
	padding: 15px;
	resize: none;
	width: 100%;
}

.modal_char-counter {
	color: var(--color-grey-460);
	display: flex;
	font-size: var(--font-size-main-text);
	justify-content: space-between;
	margin-bottom: 20px;
}

.modal_submit-button {
	width: 100%;
}
