.navbar__wrapper {
	align-items: center;
	background-color: var(--color-grey-50);
	display: flex;
	height: 73px;
	overflow-x: auto;
	position: sticky;
	scroll-margin: 0px;
	scrollbar-width: none;
	-ms-overflow-style: none;
	top: 0px;
	white-space: nowrap;
	width: 100%;
	z-index: 1;
	scrollbar-width: none;        
	-ms-overflow-style: none; 
	margin-bottom: 32px;
}

.navbar__wrapper::-webkit-scrollbar {
	display: none; 
}

.navbar {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.navbar__item {
	color: var(--color-grey-500);
	cursor: pointer;
	display: block;
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-large);
	font-weight: var(--font-weight-semi-bold);
	line-height: 1.4;
	padding: 24px;

	&:hover {
		color: var(	--color-button-blue);
	}
}

.item_active {
	color: var(--color-black);
	position: relative;
}

.item_active::after {
	content: "";
	background-color: var(--color-black);
	bottom: 0px;
	height: 4px;
	left: 0;
	position: absolute;
	width: 100%;
}

@media (max-width: 1280px) {
	.navbar__wrapper {
		margin-bottom: 24px;
	}

	.navbar {
		gap: 20px;
	}
}

@media (max-width: 768px) {
	.navbar__item {
		font-size: var(--font-size-title-h5);
		padding: 16px;
	}

	.navbar {
		gap: 0;
	}
}

@media (max-width: 480px) {
	.navbar__wrapper {
		height: 54px;
	}
}
