.reviews_section {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-bottom: 40px;
}

.reviews_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.reviews_content,
.no-reviews_container  {
	display: flex;
	gap: 24px;
}

.reviews_container,
.no-reviews_container {
	width: 100%;
}

.reviews_heading {
	font-size: var(--font-size-title);
}

.reviews_sort-span {
	display: inline-block;
	margin-bottom: 10px;
}

.reviews {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.review {
	padding: 20px;
	position: relative;
}

.review:not(:last-of-type)::after {
	position: absolute;
	content: "";
	width: calc(100% - 30px);
	height: 2px;
	background-color: var(--color-grey-480);
	bottom: -20px;
	
	.reviews_heading {
		font-size: var(--font-size-title);
		margin-bottom: 40px;
	}
}

.no-reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.no-reviews_title {
	margin-bottom: 30px;
}

.no-reviews_title {
	color: var(--color-grey-480);
	margin-bottom: 10px;
}

/*-----------------------------*/

.sort-dropdown {
	margin-bottom: 30px;
}

/*-----------------------------*/

@media (max-width: 1280px) {
	.reviews_section {
		gap: 20px;
	}

	.reviews_heading {
		font-size: var(--font-size-title-mobile-h2);
	}

	.reviews_content {
		flex-direction: column-reverse;
	}
}

