.section_title {
	align-items: center;
	color: var(--color-yellow-600);
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-large);
	font-weight: var(--font-weight-semi-bold);
	margin-right: 12px;
}

.section_title__icon {
	height: 24px;
	margin-right: 8px;
	width: 24px;
	vertical-align: middle;
}

@media (max-width: 768px) {
	.section_title {
		font-size: var(--font-size-title-large);
	}
}