.rating-line__container {
	align-items: center;
	color: var(--color-black);
	display: flex;
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-bold);
	line-height: 150%;
	width: 100%;
}

.rating-line__star {
	color: var(--color-yellow-500);
	height: 18px;
	margin-right: 8px;
	width: 18px;
}

.rating-line__view {
	background-color: var(--color-yellow-500);
	border-radius: 40px;
	height: 4px;
	margin-left: 11px;
	margin-right: 8px;
}
