.review__header {
	align-items: center;
	display: grid;
	gap: 8px;
	grid-template-areas: "user verif rating";
	grid-template-columns: fit-content(30%) 1fr auto;
	height: 60px;
}

.review__date {
	color: var(--color-grey-460);
	font-family: var(--font-family-main);
	font-size: var(--font-size-main-text);
	font-weight: var(--font-weight-text);
}

.review__rating-block {
	display: grid;
	grid-area: rating;
	justify-items: end;
	height: 56px;
	padding-top: 5px;
}

.review__user-block {
	align-items: center;
	display: flex;
	gap: 5px 12px;
	grid-area: user;
	height: 50px;
}

.review__user-picture {
	height: 60px;
	width: 60px;
}

.review__user-name {
	display: flex;
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-large);
	font-weight: var(--font-weight-bold);
	height: 24px;
	line-height: 140%;
}

.review__user-role {
	color: var(--color-grey-400);
	display: flex;
	font-family: var(--font-family-main);
	font-size: var(--font-size-main-text);
	font-weight: var(--font-weight-text);
}

.review__verification-block {
	align-items: flex-start;
	color: var(--color-icon-green);
	display: flex;
	grid-area: verif;
	font-family: var(--font-family-roboto);
	font-size: var(--font-size-main-text);
	font-weight: var(--font-weight-text);
	height: 50px;
	line-height: 100%;
	padding-top: 5px;
}

.review__verification-icon {
	height: 24px;
	margin-right: 7px;
	width: 24px;
}

.review__verification-text {
	align-items: center;
	display: flex;
	height: 24px;
}

@media (max-width: 768px) {
	.review__header {
		grid-template-areas: "user rating" "verif verif";
		grid-template-columns: fit-content(40%) auto;
		height: 100px;
	}

	.review__rating-block {
		height: 49px;
	}
}
