.companies_filter__text_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 50%;
}

.companies_filter__title {
  color: var(--color-grey-1000);
  font-size: var(--font-size-title-mobile-h1);
  font-weight: var(--font-weight-bold);
  line-height: 48px;
}

.companies_filter__text {
  color: var(--color-grey-1000);
  font-size: var(--font-size-title-h4);
  font-weight: var(--font-weight-text);
  line-height: 22.6px;
}

.companies_filter__companies_number {
  align-items: center;
  display: flex;
  gap: 8px;
}

.companies_filter__building_icon {
  color: var(--color-blue-icons);
  height: 20px;
  width: 20px;
}

.companies_filter__number {
  color: var(--color-grey-1000);
  font-size: var( --font-size-main-text);
  font-weight: var(--font-weight-text);
}

@media (max-width: 1280px) {
  .companies_filter__text_section {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .companies_filter__title {
    font-size: var(--font-size-title-h4);
    line-height: 24px;
  }

  .companies_filter__text {
    font-size: var(--font-size-main-text);
    line-height: 15.82px;
  }
}