.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-wrapper {
  position: relative;
}

.input {
  background: var(--color-white);
  border: none;
  color: var(--color-grey-200);
  font-size: var(--font-size-title-h4);
  font-weight: var(--font-weight-text);
  line-height: 26px;
  outline: none; 
  overflow: hidden;
  padding: 16px;
  padding-left: 56px;
}

.icon {
	color: var(--color-grey-200);
  height: 24px;
	left: 16px;
	position: absolute;
	top: 25%;
  width: 24px;
}

.input::placeholder {
  color: var(--color-grey-500);
}

.input:hover {
  border: none;
  color: var(--color-grey-400);
}

.input:focus {
  box-shadow: none; 
  color: var(--color-grey-400);
  border: none;
}

.input:focus::placeholder, .icon {
  color: var(--color-grey-500);
}

.input:active, .input:focus {
  border: none;
  color: var(--color-grey-950);
}