.footer_content__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer_content__contacts_title {
  color: var(--color-yellow-500);
  font-size: var(--font-size-main-text);
  font-family: var(--font-family-main);
}

.footer_content__contacts_data {
  display: flex;
  gap: 16px;
}

.footer_content__contact_link {
  color: var(--color-grey-50);
}

.footer_content__contact_icon {
  color: var(--color-grey-50);
  height: 32px;
  width: 32px;
}

.footer_content__contact_icon:hover {
  color: var(--color-yellow-500);
}

@media (max-width: 768px) {
  .footer_content__contacts_data {
    gap: 8px;
  }
  
}

@media (max-width: 365px) {
  .footer_content__contact_icon {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 300px) {
  .footer_content__contact_icon {
    height: 18px;
    width: 18px;
  }
}