.header__list {
	display: flex;
	width: 100%;
	margin-top: 20px;
	background-color: var(--color-grey-100);

	&-item {
		display: flex;
		align-items: center;
		position: relative;
		padding: 16px 0px;
		font-size: var(--font-size-title-large);
		font-family: var(--font-family-main);
		font-weight: var(--font-weight-semi-bold);
		color: var(--color-grey-500);
		text-transform: capitalize;

		&:nth-child(1) {
			flex-basis: 377px;

			div {
				margin-left: 8px;
			}
		}

		&:nth-child(2) {
			flex-basis: 449px;
		}

		&:nth-child(3) {
			flex-grow: 1;

			div {
				max-width: 214px;
				width: 100%;
				text-align: center;
			}
		}

		&::first-letter {
			text-transform: capitalize;

			color: red;
		}

		svg {
			margin-left: 10px;
			height: 15px;
			width: 15px;
		}
	}
}

@media (max-width: 1280px) {
	.header__list {
		&-item {
			&:nth-child(1) {
				flex-basis: 40%;
			}

			&:nth-child(2) {
				flex-basis: 35%;
			}

			&:nth-child(3) {
				flex-basis: 25%;

				div {
					text-align: start;
				}
			}
		}
	}
}

@media (max-width: 888px) {
	.header__list {
		&-item {
			display: none;
		}
	}
}
