.filtered_companies__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filtered_companies__sort_and_view {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.filtered_companies__view_by {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filtered_companies__view_text {
  align-self: center;
  display: block;
  color: var(--color-grey-470);
  font-family: var(--font-family-main);
  font-size: var(--font-size-title-h5);
}

.filtered_companies__search_result_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filtered_companies__sort_button {
  display: none;
}

@media (max-width: 1280px) {
  .filtered_companies__view_by {
    flex-direction: row;
  }  
}

@media (max-width: 768px) {
  .filtered_companies__sort_and_view {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }  

  .filtered_companies__sort_button {
    display: flex;
  }

  .filtered_companies__view_text {
    display: none;
  }

  .filtered_companies__sort_dropdown {
    position: static;
  }
}
