.list__item {
	display: flex;
	padding: 40px 0px;
	min-width: 100%;
	font-size: var(--font-size-title-large);
	font-family: var(--font-family-main);
	font-weight: var(--font-weight-semi-bold);
	color: var(--color-grey-500);
	border-bottom: 3px solid var(--color-grey-300);
}

.item__elem {
	display: flex;

	&:nth-child(1) {
		display: none;
	}

	&:nth-child(2) {
		flex-basis: 30%;
		flex-grow: 1;
	}

	&:nth-child(3) {
		flex-basis: 36%;
		flex-grow: 1;
	}

	&:nth-child(4) {
		flex-basis: 34%;
		flex-shrink: 5;
	}

	.icons-bottom {
		display: none;
	}
}

.more-options {
	position: relative;

	.icon-more {
		svg {
			transform: rotate(90deg);
		}
	}

	.popup-menu-mobile {
		position: absolute;
		right: 190px;
		top: 36px;
	}
}

.item__info-wrapper {
	display: flex;
	flex-direction: column;
}

.item__info {
	display: flex;
	gap: 16px;

	.item__img-wrapper {
		width: 144px;
		height: 110px;
		flex-shrink: 1;

		.item__img {
			width: 100%;
			height: 100%;
		}

		&.course {
			width: 60px;
			height: 60px;
		}
	}

	&-name {
		display: -webkit-box;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.item__info-bottom {
	font-size: var(--font-size-main-text);
	color: var(--color-grey-900);

	span {
		color: var(--color-grey-400);
	}

	a {
		text-decoration: underline;
	}

	.status {
		display: none;
	}

	.item__info-author {
		width: 100%;
		display: none;
		margin-top: 60px;

		&.course {
			display: block;
		}
	}

	.courses-mobile {
		display: none;
	}
}

.item__info-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 260px;
	margin-right: 20px;
	flex-shrink: 5;

	.item__info-name {
		font-weight: var(--font-weight-bold);
		font-size: var(--font-size-title-large);
		line-height: 140%;
		letter-spacing: -0.06em;
		color: var(--color-grey-900);
	}

	.item__info-details {
		font-family: var(--font-family-main);
		font-weight: var(--font-weight-bold);
		font-size: var(--font-size-main-text);
		color: var(--color-grey-900);

		.reviews-modile {
			display: none;
			color: var(--color-grey-500);
			font-weight: var(--font-weight-text);
		}

		p + p {
			margin-top: 4px;
		}

		span {
			color: var(--color-grey-500);
			font-weight: var(--font-weight-text);
		}

		&.course {
			display: none;
		}
	}
}

.item__review {
	max-width: 363px;
	width: 100%;
	margin-right: 20px;
	font-family: var(--font-family-main);
	color: var(--color-grey-500);

	.review-top {
		display: flex;
		justify-content: space-between;
		font-size: var(--font-size-title-h5);
		line-height: 140%;
		margin-bottom: 16px;

		&__detail {
			span {
				color: var(--color-grey-900);
			}

			div {
				margin-bottom: 2px;
			}
		}
	}
}

.status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	&-text {
		font-family: var(--font-family);
		font-weight: var(--font-weight-text);
		font-size: var(--font-size-title-h5);
		border-radius: 100px;
		padding: 4px 16px;
		text-transform: capitalize;

		&.published {
			background-color: var(--color-green-200);
			color: var(--color-green-500);
		}

		&.pending {
			background-color: var(--color-orange-200);
			color: var(--color-orange-500);
		}

		&.removed {
			background-color: var(--color-red-200);
			color: var(--color-red-500);
		}
	}

	&-icons {
		display: flex;
		gap: 10px;
		cursor: pointer;

		.popup-menu-desktop {
			position: relative;
			right: 160px;
			top: 10px;
		}
	}
}

@media (max-width: 1280px) {
	.item__elem {
		&:nth-child(2) {
			flex-basis: 40%;
		}

		&:nth-child(3) {
			flex-basis: 35%;
		}

		&:nth-child(4) {
			flex-basis: 25%;
		}
	}
}

@media (max-width: 888px) {
	.item__elem {
		&:nth-child(1) {
			display: block;
			position: absolute;
			right: 10px;
			top: 15px;
		}
	}

	.list__item {
		display: flex;
		flex-direction: column;
		border: 2px solid var(--color-grey-300);
		border-radius: 16px;
		margin-bottom: 24px;
		padding: 20px;
		position: relative;
	}

	.item__info-wrapper {
		width: 100%;

		.item__info-author {
			span {
				display: none;
			}
		}
	}

	.item__info-details {
		.details__reviews {
			display: none;
		}

		.details__courses {
			display: none;
		}

		.reviews-modile {
			display: block !important;
		}
	}

	.item__info-bottom {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 20px 0px 10px;

		.status {
			display: flex;
			justify-content: end;

			&-text {
				display: inline-block;
			}
		}

		.item__info-author {
			margin-top: 0px;
		}

		.courses-mobile {
			display: block;
			width: 100%;
			color: var(--color-grey-500);
			font-weight: var(--font-weight-text);
			font-size: var(--font-size-main-text);

			&.course {
				display: none;
			}
		}
	}

	.item__review {
		min-width: 100%;
		.review-top {
			.date {
				align-self: end;
			}
		}
	}

	.item__elem-bottom {
		.status-bottom {
			display: none;
		}

		.icons-bottom {
			display: flex;
			flex: 1;
			margin-top: 20px;
		}
	}
}

@media (max-width: 576px) {
	.item__info {
		.item__img-wrapper {
			width: 80px;
			height: 50px;

			&.course {
				width: 60px;
				height: 60px;
			}
		}
	}
}

