.popup-menu {
	position: relative;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition:
		opacity 0.3s ease,
		transform 0.3s ease,
		visibility 0.3s ease;

	&.open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	&__options {
		border-radius: 16px;
		box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);
		background-color: white;
		border: 1px solid #ddd;
		width: max-content;
		z-index: 100;
	}

	&__option {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 16px;
		font-family: var(--font-family-main);
		font-size: var(--font-size-main-text);
		line-height: 140%;
		color: var(--color-grey-400);
		cursor: pointer;
		transition: all 100ms ease-in;

		span::first-letter {
			text-transform: capitalize;
		}

		&.option-delete {
			border-top: 1px solid var(--color-grey-300);
			color: var(--color-red-500);
		}

		&:hover {
			background-color: var(--color-grey-100);
		}
	}
}
