.review_top {
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.review_profile {
	display: flex;
	height: 60px;
}

.review_avatar {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border-radius: 50%;
}

.review_profile-name-verified {
	display: flex;
	gap: 8px;
}

.review_profile-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.review_top-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60px;
	gap: 5px;
}

.review_date {
	text-align: right;
	display: inline-block;
	margin-top: 3px;
}

.review_flag,
.review_share,
.review_like {
	width: 24px;
	height: 24px;
}

.review_text {
	margin-bottom: 20px;
}

.review_bottom {
	display: flex;
	justify-content: space-between;
}

.review_icon-text {
	display: flex;
	align-items: center;
	gap: 8px;
}

.review_share-like {
	display: flex;
	gap: 20px;
	align-items: center;
}

.review_star {
	display: none;
}

.review_rating {
	font-weight: var(--font-weight-semi-bold);
	display: none;
}

/*-----------------------------*/

.phone_verified {
	display: none;
}

.amount-stars {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}

.amount-stars-content {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}

.amount-stars-content-icon {
	display: flex;
	align-items: center;
	gap: 4px;
}

.stars-line {
	margin-right: 10px;
}

.line {
	background-color: var(--color-yellow-500);
	height: 4px;
	min-width: 4px;
	border-radius: 20px;
}

.see-more {
	display: none;
}

.liked {
	color: var(--color-blue-icons);
	fill: red;
}

.alert {
	position: fixed;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
}

/*-----------------------------*/

.reviews_stats-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 24px;
	width: 43%;
	min-width: 536px;
}

.reviews_stats-card {
	padding: 15px;
	background-color: var(--color-grey-50);
	border: 1px solid var(--color-grey-200);
	border-radius: 20px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	gap: 40px;
	align-items: center;
}

.reviews_stats-title {
	font-size: var(--font-size-title-h5);
}

.reviews_stats-card-col {
	flex-direction: column;
	align-items: stretch;
}

.reviews_stats-left {
	position: relative;
	display: flex;
	flex-direction: column;
}

.reviews_stats-left::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: var(--color-grey-200);
	top: 0;
	right: -20px;
}

.reviews_stats-right {
	flex: 1 1 40%;
}

.reviews_stats-right-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.reviews_stats-total-amount {
	position: relative;
	margin-bottom: 40px;
}

.reviews_stats-total-amount::after,
.reviews_stats-card-heading::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background-color: var(--color-grey-200);
	bottom: -20px;
	left: 0;
}

.reviews_stats-card-heading {
	position: relative;
}

.reviews_stats-bottom {
	display: flex;
	gap: 40px;
}

.reviews_stats-total-amount-col::after {
	width: 2px;
	height: 100%;
	background-color: var(--color-grey-200);
	top: 0;
	left: unset;
	bottom: 0;
	right: -20px;
}

.review_stats-star {
	width: 16px;
	height: 16px;
	color: var(--color-yellow-500);
}

.reviews_stats-avg-rating-col,
.reviews_stats-total-amount-col {
	margin-bottom: 0;
}

.reviews_stats-avg-rating,
.reviews_stats-total-amount {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0 12px;
}

.reviews_stats-avg-rating-data {
	display: flex;
	gap: 9px;
}

.reviews-stats__button {
	height: 40px;
	font-size: var(--font-size-title-h5);
}

/*-----------------------------*/

@media (max-width: 1280px) {
	.reviews_stats-container {
		width: 100%;
		min-width: 100%;
	}

	.reviews_stats-left {
		flex: 1 1 60%;
	}
}

@media (max-width: 768px) {
	.desktop_verified {
		display: none;
	}

	.phone_verified {
		display: flex;
		margin-bottom: 15px;
	}

	.phone_verified-span {
		display: inline !important;
	}

	.reviews_stats-bottom {
		flex-direction: column;
	}

	.reviews_stats-total-amount-col::after {
		height: 2px;
		width: 100%;
		left: 0;
		bottom: -20px;
		right: unset;
		top: unset;
	}

	.reviews_stats-right {
		display: none;
	}

	.see-more {
		display: block;
	}

	.reviews_stats-card {
		flex-direction: column;
	}

	.show {
		display: block;
	}

	.reviews_stats-avg-rating {
		margin-bottom: 20px;
	}

	.reviews_stats-card {
		gap: 20px;
		align-items: stretch;
	}

	.reviews_stats-card-col {
		gap: 40px;
	}
}

@media (max-width: 450px) {
	.review_profile,
	.review_top-right {
		height: 50px;
	}

	.review_avatar {
		width: 50px;
		height: 50px;
	}

	.rating_stars {
		display: none;
	}

	.review_star {
		display: block;
		width: 16px;
		height: 16px;
		color: var(--color-yellow-500);
	}

	.review_rating {
		display: inline;
	}

	.review_phone-rating {
		display: flex;
		gap: 5px;
		justify-content: flex-end;
	}
}
