.companies_categories__item {
  border: 1px solid var(--color-grey-480);
  border-radius: 100px;
  color: var( --color-grey-1000);
  cursor: pointer;
  flex: 0 0 auto; 
  font-size: var(--font-size-main-text);
  font-weight: var(--font-weight-text);
  height: 36px;
  padding: 8px 16px;
  text-align: center;
  white-space: nowrap; 
}

.companies_categories__item_selected {
  border: 2px solid var(--color-blue-icons);
  color: var(--color-blue-icons);
}

.companies_categories__item:not(.companies_categories__item_selected):hover {
  border: 1px solid var(--color-light-blue-selected-items);
  color: var(--color-light-blue-selected-items);
}