.title-logo_container {
	display: flex;
	gap: 20px;
}

.logo_container {
	display: flex;

	.logo_image {
		height: 68px;
		width: 138px;
		max-width: 100%;
		object-fit: contain;
		min-width: 100px;
	}
}

.title-rating_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	font-size: var(--font-size-title-h2);
	font-weight: var(--font-weight-bold);
	line-height: 1.3;
}

.rating__number {
	font-size: var(--font-size-main-text);
}

.rating_mobile {
	display: none;
}

/*-----------------------------*/

@media (max-width: 1280px) {
	.title-logo_container {
		gap: 16px;
	}
}

@media (max-width: 768px) {
	.title-logo_container {
		gap: 8px;

		.logo_image {
			height: 52px;
			width: 104px;
		}
	}

	.title {
		font-size: var(--font-size-title-h4);
		font-weight: var(--font-weight-bold);
		line-height: 1.3;
	}

	.title-rating_container {
		display: flex;
		justify-content: center;
	}

	.rating_mobile {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
