.course_filter__container {
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-main);
	gap: 40px;
}

.filter-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.filter-button__icon {
	height: 22px;
}

