
.categories_header {
	font-family: var(--font-family-roboto);
	font-size: var(--font-size-main-text);
	font-weight: var(--font-weight-semi-bold);

}

.categories_list {
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-semi-bold);

}


.categories_item {
	color: var(--color-blue-icons);
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-semi-bold);
	list-style-type: disc;
	margin-left: 24px;

}
