.container {
	background-color: var(--color-white);
	border: 1px solid var(--color-grey-500);
	border-radius: 40px;
	box-shadow: 2px 2px 12px 0 var(--color-shadow-brown);
	display: flex;
	height: 58px;
	margin: 0 auto;
	width: 100%;
}

.search_form {
	display: flex;
	gap: 12px;
	width: 100%;
}

.form {
	display: flex;
	width: 100%;
}

.search_wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}

.search__input {
	border-radius: 40px 0 0 40px;
	height: 100%;
	width: 100%;
}

.search_button_wrapper {
	height: 100%;
	padding: 4px;
}

.search__button {
	font-size: var(--font-size-title-h5);
	height: 100%;
	padding: 12px 32px;
	width: 196px;
}

.search__icon_button {
	background-color: var(--color-yellow-500);
	border-radius: 40px;
	height: 48px;
	margin: 4px;
	padding: 12px;
	width: 48px;
}

.search__icon_button__icon {
	height: 24px;
	color: var(--color-black);
	width: 24px;
}

.filter-button {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 10px;
	min-width: fit-content;
	white-space: nowrap;
	
	&:hover {
		color: var(--color-blue-icons);
	}

}

.filter-button,
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
	border: none;
	outline: none;
}

.filter-button__icon {
	height: 22px;
}

@media (max-width: 1280px) {
	.search__button {
		width: 112px;
	}
}

@media (max-width: 768px) {
	.search__input input {
		padding-right: 16px;
	}
}
