.company-details_page {
	display: flex;
	flex-direction: column;
	gap: 40px;
	min-height: 100vh;

	&-main {
		justify-content: center;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

@media (max-width: 1280px) {
	.company-details_page {
		gap: 24px;
	}
}
