.button-group {
	display: flex;
	gap: 1px;
	padding: 3px;
	margin: 0px auto;
	border: 3px solid var(--color-grey-200);
	background-color: #fff;
	border-radius: 52px;
	height: 48px;
	max-width: 672px;
	width: 100%;
}

.button-group__item {
	&.active {
		background-color: var(--color-grey-200);
		color: var(--color-grey-800);
	}
}
