.fitters_block {
	width: 24.188%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	@media (max-width: 1000px) {
		width: 100%;
		flex-direction: row;
	}
	@media (max-width: 480px) {
		flex-direction: column;
		padding: 0 0 44px;
	}
	.fitters_block__category {
		@media (min-width: 481px) and (max-width: 1000px) {
			width: 50%;
		}
		.fitters_block__category_title {
			margin-bottom: 12px;
			color: var(--color-grey-500);
			font-size: var(--font-size-main-text);
			font-weight: var(--font-weight-semi-bold);
			line-height: 140%;
		}
	}
	.fitters_block__sort {
		display: flex;
		flex-direction: column;
		gap: 12px;
		@media (min-width: 481px) and (max-width: 1000px) {
			width: 50%;
		}
		.fitters_block__sort_title {
			color: var(--color-grey-500);
			font-size: var(--font-size-main-text);
			font-weight: var(--font-weight-semi-bold);
			line-height: 140%;
		}
		.dropdown_fullwidth {
			width: 100%;
		}
		.sort-group_cleaner-btn {
			color: var(--color-grey-200);
			display: flex;
			justify-content: start;
			padding: 0;
		}
		.sort-group_cleaner-btn__active {
			color: var(--color-error-red);
		}
	}
}
