.review-modal_content {
	padding-bottom: 30px;
}

.review-modal_rating-block {
	margin-bottom: 20px;
}

.review-modal_label {
	margin-bottom: 10px;
}

.review-modal_review-textarea {
	width: 100%;
	resize: none;
	height: 200px;
	padding: 15px;
	border-radius: 20px;
}

.review-modal_char-counter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.review-modal_submit-button {
	width: 100%;
}
