.reviews-stats {
	border: 1px solid var(--color-grey-200);
	border-radius: 10px;
	display: flex;
	gap: 20px;
	grid-area: sts;
	height: 230px;
	width: 536px;
	padding: 20px;
}

.stats-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.stats-average {
	display: flex;
	flex-direction: column;
}

.stats-container__button {
	line-height: 150%;
	padding: 10px 0;
}

@media (max-width: 768px) {
	.reviews-stats {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.reviews-stats {
		flex-direction: column;
		height: auto;
	}
}
