:root {

  //COLORS

  --color-white: #ffffff;
  --color-black: #000000;

  --color-yellow-100: #FFFFC1;
  --color-yellow-200: #FFFC87;
  --color-yellow-300: #FFF342;
  --color-yellow-400: #FFE40F;
  --color-yellow-500: #FDD503;
  --color-yellow-600: #CF9D00;
  --color-yellow-700: #A57103;
  --color-yellow-800: #88570B;
  --color-yellow-900: #74470F;
  --color-yellow-950: #442504;

  --color-grey-50: #FAFAFA;
  --color-grey-100: #F4F4F5;
  --color-grey-200: #E4E4E7;
  --color-grey-300: #D4D4D8;
  --color-grey-400: #A1A1AA;
  --color-grey-500: #71717A;
  --color-grey-600: #52525B;
  --color-grey-700: #3F3F46;
  --color-grey-800: #27272A;
  --color-grey-900: #18181B;
  --color-grey-950: #09090B;
  --color-grey-1000: #232323;

  --color-button-blue: #0077B5;
  --color-button-light-blue: #2296D2;
  --color-button-facebook-blue: #4267B2;
  --color-button-facebook-light-blue: #6D85B7;

  --color-error-red: #E22138;

  --color-shadow-brown: rgb(165, 113, 3, 0.25);

  //FONT FAMILY
  --font-family-main: 'Open Sans', sans-serif;
 
  //FONT WEIGHT

  --font-weight-extra-bold: 700;
  --font-weight-bold: 600;
  --font-weight-semi-bold: 500;
  --font-weight-text: 400;

  //FONT SIZE

  --font-size-title-h1: 48px;
  --font-size-title: 36px;
  --font-size-title-mobile-h1: 32px;
  --font-size-title-h2: 28px;
  --font-size-title-mobile-h2: 24px;
  --font-size-title-h3: 22px;
  --font-size-title-h4: 20px;
  --font-size-title-h5: 16px;
  --font-size-main-text: 14px;
  --font-size-secondary-text: 12px;
}
