.details_spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	min-height: 100vh;
	width: 100%;
}

.main-content__wrapper {
    padding: 40px 94px;
    width: 100%;
  }

  .main-content__about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;

    &-description{
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  @media (max-width: 1280px)  {
    .main-content__wrapper {
      padding: 24px 48px;
    }

    .main-content__about {
      gap: 20px;

      &-description{
        gap: 2px;
      }
    }
  }

  @media (max-width: 768px)  {
    .main-content__wrapper {
      padding: 24px 20px;  

      .main-content__about {
        margin-bottom: 24px;
      }
    }

    .main-content__header {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
