.moderators_wrapper {
	padding: 0 86px;
	color: var(--color-grey-950);
	font-family: var(--font-family-main);

	.title_wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 56px;
		line-height: 130%;

		.title {
			font-size: var(--font-size-title);
			font-weight: var(--font-weight-extra-bold);
		}
		.sub_title {
			font-size: var(--font-size-title-h4);
			font-weight: var(--font-weight-text);

			span {
				font-size: var(--font-size-title-h4);
				font-weight: var(--font-weight-bold);
			}
		}
	}
}
