.moderators_wrapper {
	padding: 0 94px;
	color: var(--color-grey-950);
	font-family: var(--font-family-main);
	@media (max-width: 1280px) {
		padding: 0 48px;
	}
	@media (max-width: 768px) {
		padding: 0 20px;
	}
	.header_wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 56px;
		.title {
			font-size: var(--font-size-title);
			font-weight: var(--font-weight-extra-bold);
			line-height: 130%;
			@media (max-width: 768px) {
				font-size: var(--font-size-title-mobile-h2);
			}
		}
		.sub_title {
			font-size: var(--font-size-title-h4);
			font-weight: var(--font-weight-text);
			line-height: 130%;
			span {
				font-size: var(--font-size-title-h4);
				font-weight: var(--font-weight-bold);
				line-height: 130%;
			}
		}
	}
	.moderators_fitters_section {
		display: flex;
		gap: 20px;
		@media (min-width: 480px) and (max-width: 1000px) {
			flex-direction: column;
		}
		.search_block {
			width: 75.811%;
			@media (max-width: 1000px) {
				width: 100%;
			}
			.search_title {
				margin-bottom: 12px;
				color: var(--color-grey-500);
				font-size: var(--font-size-main-text);
				font-weight: var(--font-weight-semi-bold);
				line-height: 140%;
			}
			.searc-bar_container {
				height: 48px;
			}
			.searc-bar_input {
				padding: 11px 16px;
			}
		}
	}
	.main_section {
		width: 74.600638%;
		margin-top: -144px;
		display: flex;
		flex-direction: column;
		gap: 40px;
		@media (max-width: 1000px) {
			margin-top: 40px;
			width: 100%;
		}

		.spinner {
			height: 250px;
			width: 100%;
		}
	}
}
