.item_card {
  align-items: center;
  border: 1px solid var(--color-grey-400);
  border-radius: 12px;
  color: var(--color-grey-950);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  padding: 32px;
}

.item_rating_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reviews_amount {
  color: var(--color-grey-600);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main-text);
  font-weight: var(--font-weight-text);
}

.item_logo_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.company_logo {
  height: 76px;
  width: 144px;
}

.item_name {
  font-family: var(--font-family-main);
  font-size: var(--font-size-title-h4);
  font-weight: var(--font-weight-bold);
  text-align: center;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

@media (max-width: 1280px) {
  .item_card {
    gap: 16px;
    padding: 16px;
  }

  .reviews_amount {
    font-size: var(--font-size-secondary-text);
  }

  .item_logo_container {
    gap: 8px;
  }

  .item_name {
    font-size: var(--font-size-text);
  }
}

@media (max-width: 768px){
  .item_card {
    padding: 24px;
  }

  .reviews_amount {
    font-size: var(--font-size-main-text);
  }

  .item_logo_container {
    gap: 12px;
  }
}