.filter_item__container {
  align-items: center;
  border: 1px solid var(--color-grey-480);
  border-radius: 100px;
  color: var(	--color-black);
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 8px 16px;
  min-width: fit-content;

  &:hover {
    border: 1px solid var(--color-blue-icons);
    color: var(--color-blue-icons);
  }
}

.filter_item__label {
  color: inherit;
  font-family: var(--font-family-main);
  font-size: var(--font-size-main-text);
  font-weight: var(--font-weight-text);
}

.filter_item__cross_button {
  height: 16px;
  width: 16px;
}

.filter_item__button_icon {
  color: inherit;
  height: 9.75px;
  width: 9.75px;
} 