.filtered_companies__search_result {
  align-self: center;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  width: 100%;
}

@media (max-width: 1280px) {
  .filtered_companies__search_result {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }
}

@media (max-width: 768px) {
  .filtered_companies__search_result {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 402px) {
  .filtered_companies__search_result {
    grid-template-columns: repeat(1, 1fr);
  }
}
