.contacts__bar {
	color: var(--grey-950);
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-bold);
	margin-bottom: 32px;
}

.contacts__header {
	font-family: var(--font-family-main);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-extra-bold);
	scroll-margin: 73px;
}

.contacts__items {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.contacts__button-container {
	display: flex;
	gap: 8px;
}

.contacts__phone {
	display: inline-block;
	margin-right: 30px;
	white-space: nowrap;
}

.contacts__phone-container {
	display: flex;
	flex-wrap: wrap;
}

.contacts__bold-content {
	font-weight: var(--font-weight-bold);
}

.contacts__link {
	color: var(--color-grey-950);
	&:hover {
		color: var(--color-blue-icons);
	}
}

.contact__connect_button {
	width: 218px;
	font-size: var(	--font-size-title-h5);
	text-wrap: nowrap;
	padding: 8px 24px;
	font-weight: var(--font-weight-semi-bold);
}

.form_button {
	height: 40px;
	margin-bottom: 32px;
	margin-top: 24px;
}



@media (max-width: 1280px) {
	.contacts__bar {
		gap: 20px;
		font-size: var(--font-size-title-mobile-h2);
		margin-bottom: 24px;
	}

	.contacts__header {
		font-size: var(--font-size-title-mobile-h2);
	}
}

@media (max-width: 768px) {
	.contacts__button-container {
		flex-direction: column;
	}

	.contacts__header {
		font-size: var(--font-size-title-h4);
	}
}

@media (max-width: 480px)  {
	.contacts__header {
		scroll-margin: 54px;
	}
  }