.contacts__bar {
	color: var(--grey-950);
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-family: var(--font-family-main);
	font-size: var(--font-size-title-h5);
	font-weight: var(--font-weight-bold);
}

.contacts__header {
	font-family: var(--font-family-main);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-extra-bold);
	scroll-margin: 73px;
}

.contacts__button-container {
	display: flex;
	gap: 8px;
}

.contacts__phone {
	display: inline-block;
	margin-right: 30px;
	white-space: nowrap;
}

.contacts__phone-container {
	display: flex;
	flex-wrap: wrap;
}

.contacts__bold-content {
	font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
	.contacts__button-container {
		flex-direction: column;
	}
}

@media (max-width: 480px)  {
	.contacts__header {
		scroll-margin: 54px;
	}
  }